.navbar {
    height: 10vh;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color:Pink;
}

.btn {
    padding: 12px 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 0%;
    transition:all ease-in-out .5s;
}

.btn-brand {
    background-color: pink;
    color:azure;
}

.btn-brand:hover {
    border: 2px solid yellow;
    color:darkorange;
}
.navbar .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-transform: uppercase;
}

#banner {
    background: url('sofa.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color: pink;
}

#banner p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
